body{
  font-family: 'Roboto';

  background-color:burlywood;
}
.freeze{
  overflow: hidden;
}

.container{
  padding: 0 10px;
}
@media (min-width: 480px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 90px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 120px;
  }
}