.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.header__container{
  line-height: 1.11;
  display: flex;
  justify-content: space-between;
}
.header__logo{
  position: relative;
  z-index: 2;
}


/* burger */

.burger {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
}
.burger span, .burger::before, .burger::after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.burger span{
  top: 50%;
  transform: translateY(-50%);
}
.burger::before{
  top: 10%;
}
.burger::after{
  bottom: 10%;
}
.burger_active span{
  opacity: 0;
}
.burger_active::before{
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger_active::after{
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}


/* main in header */

.header__main{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: min-content;
}
.header__descrioption {
  color: #747474;
  margin-bottom: 15px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 700;
}
.menu__list {
  display: flex;
  gap: 20px;

}
.menu__link {
  color: #000;
}
.menu__cart {
  font-weight: 700;
}
.menu__cart span{
  font-size: 0.833em;
  line-height: 1.33;
  color: #747474;
}


@media (max-width: 767px) {
  .header__container{
    align-items: center;
  }
  .header__logo img{
    max-height: 40px;
    margin: 5px 0;
  }
  .header__main{
    padding: 70px 20px 0;
    position: absolute;
    top: -100vh;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    text-align: center;
  }
  .main_active{
    top: 0;
    background-color: rgba(f, f, f, 0.5);
  }
  .header__descrioption{
    margin-bottom: 0;
  }
  .menu{
    flex-direction: column;
    gap: 30px;
  }
  .menu__list{
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .menu__link, .menu__cart{
    border-bottom: 1px solid #747474;
  }
}
@media (min-width: 768px) {
  .header__container{
    font-size: 16px;
  }
  .header__logo{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  .header__logo img{
    height: 100px;
  }
  .burger{
    display: none;
  }
  .header__main{
    padding: 10px 0 20px;
  }
}
@media (min-width: 992px) {
  .header__container{
    font-size: 18px;
  }
  .header__logo img{
    height: 150px;
  }
  .header__main{
    padding: 20px 0 40px;
  }
}
@media (min-width: 1200px) {
  .header__logo img{
    height: auto;
  }
  .header__main{
    padding: 40px 0 70px;
  }
}